.venv/
.env

.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Setuptools / pip
*.egg-info/
*.egg
dist/
build/
wheels/
pip-wheel-metadata/

# OS
.DS_Store
Thumbs.db
desktop.ini

#output
output/
storage/

# Other
ARCHITECTURE.mmd
creative_automation_cli.egg-info/